<div class="h2 text-right">
	<div class="row" style="background: rgba(100, 100, 120, 0.5);">
		<div class="col-md-1">
		</div>
		<div class="col-md-9 text-left">
			<div class="h3 text-center about-header">Wiscon is what happens when an unstoppable riff meets an undeniable hook</div>
			<small >
				<div class="about-text">
					<p>
					Wiscon is like a stack of sci-fi/horror B Movies that were crossed with the Mysterians, The Screamers and The Ronnettes that were smashed together by a telepod into some sort of weird brundle-fly type monster
					</p>
				</div>
			</small>
		</div>
	</div>
	<div class="row">
		<div class="col-md-9">
			<div class="about-live pagination-centered">
				<img src="./images/live.jpg">
			</div>
		</div>
	</div>
	<div class="row" style="background: rgba(100, 100, 120, 0.5);">
		<div class="col-md-1">
		</div>
		<div class="col-md-9 text-left">
			<div class="h3 text-center about-header">Press</div>
			<small >
				<div class="about-text">
					<p>
					"...lo-fi, keyboard led coolness is ALL late-'70s new wave sans checkerboard blouses"<br/>
					<a href="http://slog.thestranger.com/slog/archives/2014/11/18/the-rock-show-i-wish-i-could-attend-tonight">Mike Nipper - The Stranger</a>
					</p>
				</div>
				<div class="about-text">
					<p>
					"...like a member of the Ronettes being backed by Devo"<br/>
					<a href="http://thesunbreak.com/2014/08/22/last-week-in-live-music-arctic-monkeys-blowfly-tomten-and-more/">Tony Kay - The Sunbreak</a>
					</p>
				</div>
				<div class="about-text">
					<p>
					"... and Wiscon had the stand out singer of the night, a woman with a really full powerful voice"<br/>
					<a href="http://blip.tv/SeattleBands/07-triple-sixes-6618944">Eric Charles - Alive In Seattle</a>
					</p>
				</div>
				<div class="about-text">
					<p>
					"dark new wave that's powered by vintage synths and driving bass lines."<br/>
					<a href="http://www.seattleweekly.com/2012-10-03/music/it-s-october-2012-and-the-city-sounds-like/">Seattle Weekly</a>
					</p>
				</div>
			</small>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
	</div>
	<div class="row" style="background: rgba(100, 100, 120, 0.5);">
		<div class="col-md-1">
		</div>
		<div class="col-md-9 text-left">
			<div class="h3 text-center about-header">Contact</div>
			<small >
				<div class="about-text">
					<p>
					one sheet pdf:  <a href="http://www.wisconseattle.com/onesheet.pdf">latest version</a>
					</p>
					<p>
					email : <a mailto="wiscon@wisconseattle.com"> wiscon@wisconseattle.com</a>
					</p>
					<p>
					facebook : <a href="http://facebook.com/wisconseattle"> facebook.com/wisconseattle</a>
					</p>
					<p>
					twitter : <a href="http://twitter.com/wisconseattle"> @wisconseattle</a>
					</p>
					<p>
					instagram : <a href="http://instagram.com/wisconseattle"> wisconseattle</a>
					</p>
					<p>
					everything else : <a href="http://www.wisconseattle.com"> wisconseattle.com</a>
					</p>
				</div>

</div>
