<ul class="timeline text-left">


  <li class="text-left">
    <div class="timeline-date">May 2016</div>
    <div class="timeline-badge info"><i class="fa fa-bar-chart"></i></div>
    <div class="timeline-panel">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-12">
              <div class="timeline-heading">
                <h4 class="timeline-title h2">Data Engineer</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="text-muted">
                <a href="http://www.bigfishgames.com/">Big Fish Games</a> Seattle WA
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="timeline-body">
                Analyse data.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 h4">
          SQL Hadoop
        </div>
      </div>
    </div>
  </li>

  <li class="timeline-inverted">
    <div class="timeline-date-inverted">October 2015</div>
    <div class="timeline-badge warning"><i class="fa fa-terminal"></i></div>
    <div class="timeline-panel">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-12">
              <div class="timeline-heading">
                <h4 class="timeline-title h2">Senior Software Developer</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="text-muted">
                <a href="http://pensardevelopment.com/">Pensar Development</a> Seattle WA
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="timeline-body">
                Created a web application for consultants to use for time tracking, invoicing and creating reports.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 h4">
          C# Service Stack SQL Service Stack AngularJs Javascript Bootstrap HTML CSS
        </div>
      </div>
    </div>
  </li>

  <li class="timeline">
    <div class="timeline-date">November 2011</div>
    <div class="timeline-badge success"><i class="fa fa-windows"></i></div>
    <div class="timeline-panel">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-12">
              <div class="timeline-heading">
                <h4 class="timeline-title h2">Software Developer</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="text-muted">
                <a href="http://www.xbox.com/en-US/LIVE">Microsoft Xbox Live,</a> Redmond WA
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="timeline-body">
                Designed, implemented and debugged scalable services for Xbox One.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 h4">
          C# HTTP XML/XSD Javascript REST
        </div>
      </div>
    </div>
  </li>

  <li class="timeline-inverted">
    <div class="timeline-date-inverted">October 2007</div>
    <div class="timeline-badge primary"><i class="fa fa-internet-explorer"></i></div>
    <div class="timeline-panel">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-12">
              <div class="timeline-heading">
                <h4 class="timeline-title h2">Software Developer</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="text-muted">
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Microsoft, Internet Explorer</a> Redmond WA
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="timeline-body">
                Designed and built features for Internet Explorer including Add-on Performance Advisor and ActiveX Filtering. </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 h4">
          C++ COM/Win32
        </div>
      </div>
    </div>
  </li>

  <li class="timeline">
    <div class="timeline-date">April 2005</div>
    <div class="timeline-badge danger"><i class="fa fa-code"></i></div>
    <div class="timeline-panel">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-12">
              <div class="timeline-heading">
                <h4 class="timeline-title h2">Software Developer</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="text-muted">
                <a href="https://msdn.microsoft.com/en-us/library/ms731082%28v=vs.110%29.aspx">Microsoft, Windows Communication Foundation</a> Redmond WA
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="timeline-body">
                Designed and implemented code for features in .net 3.5
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 h4">
          C# C++ PowerShell MSI Windows Installer XML
        </div>
      </div>
    </div>
  </li>


  <li class="timeline-inverted">
    <div class="timeline-date-inverted">August 2000</div>
    <div class="timeline-badge info"><i class="fa fa-comment-o"></i></div>
    <div class="timeline-panel">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-12">
              <div class="timeline-heading">
                <h4 class="timeline-title h2">Software Developer in Test</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="text-muted">
                <a href="https://msdn.microsoft.com/en-us/library/ms950383.aspx">Microsoft, Speech Techonologies</a> Redmond WA
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="timeline-body">
                Tested server and client apps as part of Microsoft's early efforts to speech enable the internet.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 h4">
          C# C++ JavaScript HTML
        </div>
      </div>
    </div>
  </li>

</ul>
