	<div class="row" style="background: rgba(100, 100, 120, 0.5);">
		<h3>
	You can stream and buy our music on <a href="https://wiscon.bandcamp.com/">bandcamp</a> Come see us for physical copies.
</h3>
</div>
<div class="record-covers">
	<div class="row record-cover">
		<div class="col-md-3">
			<div>
				<img src="./images/wake-up.jpg">
			</div>
		</div>
		<div class="col-md-3">
			The first of our trilogy of hit singles. Recorded with Brandon Eggleston (Mountain Goats). Stacked harmonies and fuzzy synths.
		</div>
	</div>

	<div class="row record-cover">
		<div class="col-md-3">
			<div>
				<img src="./images/double-control.jpg">
			</div>
		</div>
		<div class="col-md-3">
			Double A side single Double Brother and Pigeon Control. Available on obsolete vinyl. Come to a show and pick one up.
		</div>
	</div>

	<div class="row record-cover">
		<div class="col-md-3">
			<div>
				<img src="./images/disc.jpg">
			</div>
		</div>
		<div class="col-md-3">
			Our first album. Grimy, lo-fi. Recorded over several months in Alex Upton's (former Wiscon drummer, mench) basement. All killer. Full of hidden gems that have dropped off our set list.
		</div>
	</div>

	<div class="row record-cover">
		<div class="col-md-3">
			<div>
				<img src="./images/defcon-one.jpg">
			</div>
		</div>
		<div class="col-md-3">
		The first thing we ever recorded. Gets a little play on KEXP. Features left-handed bass by Aaron Morgan.
		</div>i
	</div>
</div>
