<ul class="timeline text-left">
  <li class="text-left">
	<div class="timeline-date">April 4th 2018</div>
	<div class="timeline-badge info"><i class="fa fa-music"></i></div>
	<div class="timeline-panel">
		<div class="row">
			<div class="row">
				<div class="col-md-12">
					<div class="timeline-heading">
						<h4 class="timeline-title h2">Sunset, Seattle</h4>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="timeline-body">
						</p>
						     <p><a href="https://www.facebook.com/events/1319444998157329/">Facebook</a>
						</p>
            <p>with</p>
						<p>John Davis & The Cicadas</p>
            <p>Robert Millis</p>
            <p>8pm / $8 / 21+</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	</li>
  <li class="text-left">
	<div class="timeline-date">May 11th 2018</div>
	<div class="timeline-badge info"><i class="fa fa-music"></i></div>
	<div class="timeline-panel">
		<div class="row">
			<div class="row">
				<div class="col-md-12">
					<div class="timeline-heading">
						<h4 class="timeline-title h2">End Of The World Prom - Lofi, Seattle</h4>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="timeline-body">
						</p>
						     <p><a href="https://www.facebook.com/events/157248188426755/">Facebook</a>
						</p>

						<p>We're done. It's over. We love you. It's not us it's you.</p>
            <p>End Of The World Prom</p>
            <p>Staring</p>
            <p>fucking <b>Skates!</b></p>
            <p>indie heroes <b>Gibraltar</b> </p>
            <p>reformed for one night only <b>Clutch Douglass</b></p>
            <p>DJs <b>Base Tan</b> and <b>Heather Hydra</b></p>
            <p>9pm / $10 <a href="http://www.strangertickets.com/events/53498665/end-of-the-world-prom-w-wiscon-last-show-clutch-douglas-gibraltar-plus-special-guest">presale</a> / $12 door</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	</li>
	</ul>
