<ul class="timeline text-left">
  <li class="text-left">
	<div class="timeline-date">Mar 11th 2017</div>
	<div class="timeline-badge info"><i class="fa fa-music"></i></div>
	<div class="timeline-panel">
		<div class="row">
			<div class="row">
				<div class="col-md-12">
					<div class="timeline-heading">
						<h4 class="timeline-title h2">Barboza</h4>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="timeline-body">
						</p>
						     <p><a href="https://www.facebook.com/events/1203934996328699/">Facebook</a>
						</p>

						<p>Gibraltar release show, with Head Like A Kite</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	</li>

  <li class="text-left">
	<div class="timeline-date">Mar 24th 2017</div>
	<div class="timeline-badge info"><i class="fa fa-music"></i></div>
	<div class="timeline-panel">
		<div class="row">
			<div class="row">
				<div class="col-md-12">
					<div class="timeline-heading">
						<h4 class="timeline-title h2">Anthill</h4>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="timeline-body">
						</p>
						     <!--<p><a href="https://www.facebook.com/events/1203934996328699/">Facebook</a> -->
						</p>

						<p>With My Fair Lady</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	</li>

  <li class="text-left">
  <div class="timeline-date">April 14th 2017</div>
  <div class="timeline-badge info"><i class="fa fa-music"></i></div>
  <div class="timeline-panel">
    <div class="row">
      <div class="row">
        <div class="col-md-12">
          <div class="timeline-heading">
            <h4 class="timeline-title h2">Central Saloon</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="timeline-body">
            </p>
                 <!--<p><a href="https://www.facebook.com/events/1203934996328699/">Facebook</a> -->
            </p>

            <p>Extra fun overload show - details to come</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </li>

  <li class="text-left">
	<div class="timeline-date">Mar 24th 2017</div>
	<div class="timeline-badge info"><i class="fa fa-music"></i></div>
	<div class="timeline-panel">
		<div class="row">
			<div class="row">
				<div class="col-md-12">
					<div class="timeline-heading">
						<h4 class="timeline-title h2">Anthill</h4>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="timeline-body">
						</p>
						     <!--<p><a href="https://www.facebook.com/events/1203934996328699/">Facebook</a> -->
						</p>

						<p>With My Fair Lady</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	</li>

  <li class="text-left">
	<div class="timeline-date">April 22nd 2017</div>
	<div class="timeline-badge info"><i class="fa fa-music"></i></div>
	<div class="timeline-panel">
		<div class="row">
			<div class="row">
				<div class="col-md-12">
					<div class="timeline-heading">
						<h4 class="timeline-title h2">Kenton Club, Portland</h4>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="timeline-body">
						</p>
						     <!--<p><a href="https://www.facebook.com/events/1203934996328699/">Facebook</a> -->
						</p>

						<p>With Ice Princess (!)</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	</li>

  <li class="text-left">
	<div class="timeline-date">April 28thd 2017</div>
	<div class="timeline-badge info"><i class="fa fa-music"></i></div>
	<div class="timeline-panel">
		<div class="row">
			<div class="row">
				<div class="col-md-12">
					<div class="timeline-heading">
						<h4 class="timeline-title h2">Victory</h4>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="timeline-body">
						</p>
						     <!--<p><a href="https://www.facebook.com/events/1203934996328699/">Facebook</a> -->
						</p>

						<p>Surviving 100 days of 45. (assuming we live that long)</p>
            <p>With Skates!, Ramona more info to come.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	</li>

	</ul>
