	<div class="row" style="background: rgba(100, 100, 120, 0.5);">
	<div class="video-title">My First Day</div>
	<div class="row">
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="video" src="https://www.youtube.com/embed/XPuik-PoPLU" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>

	<div class="row">
			<div class="video-title">Wake Up</div>
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="video" src="https://www.youtube.com/embed/Edk8udfnPvE" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>

	<div class="row" style="background: rgba(100, 100, 120, 0.5);">
		<div class="video-title">Double Brother</div>
	</div>
	<div class="row">
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="video" src="https://www.youtube.com/embed/B9ZkNiUeKcw" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	<div class="row" style="background: rgba(100, 100, 120, 0.5);">
		<div class="video-title">Dead Horse, AK 1986</div>
	</div>
	<div class="row">
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="video" src="https://www.youtube.com/embed/lUGIDCU42c8" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>

	<div class="row" style="background: rgba(100, 100, 120, 0.8);">
		<div class="video-title">TV</div><p/>
	</div>

	<div class="row" style="background: rgba(100, 100, 120, 0.5);">
		<div class="video-title">Closet Light (Art Zone set)</div>
	</div>
	<div class="row">
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="video" src="https://www.youtube.com/embed/-gJ6-tfORW4" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>

	<div class="row" style="background: rgba(100, 100, 120, 0.5);">
		<div class="video-title">Wake Up (Art Zone set)</div>
	</div>
	<div class="row">
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="video" src="https://www.youtube.com/embed/ShVXuQj2j6k" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
